<% provide(:title,"Multiple Add Group") %>
<h2 class="main-heading text-center">Add multiple users to a group</h2>
<div class="justify-content-center row">
  <div class="col-md-6 jumbotron">
    <%= form_for(@ldap_group, url: add_users_path) do |f| %>
      <%= render partial: 'error_messages', object: @ldap_group %>
      <%= f.label "Confirm your ldap password" %>
      <%= f.password_field :ldap_password, autocomplete: "off", class: "form-control form-group" %>
      <%= f.label "Group" %>
      <%= f.text_field :name, autofocus: true, class: "form-control form-group", placeholder: "<name>,<city>,<country>" %>
      <%= f.label "Users" %>
      <%= f.text_area :users, maxlength: 8192, rows: 10, class: "form-control form-group", placeholder: "<first>.<last>" %>
      <%= f.submit "Add", class: "btn btn-block btn-primary" %>
    <% end %>
  </div>
</div>
