<% provide(:title,"Delete Group") %>
<h2 class="main-heading text-center">Delete an existing group</h2>
<div class="justify-content-center row">
  <div class="col-md-6 jumbotron">
    <%= form_for(@ldap_group, url: destroy_group_path) do |f| %>
      <%= render partial: 'error_messages', object: @ldap_group %>
      <%= f.label "Confirm your ldap password" %>
      <%= f.password_field :ldap_password, autocomplete: "off", class: "form-control form-group" %>
      <%= f.label "Group" %>
      <%= f.text_field :name, class: "form-control form-group", placeholder: "<name>,<city>,<country>" %>
      <%= f.submit "Delete", class: "btn btn-block btn-primary" %>
    <% end %>
  </div>
</div>
