<% provide(:title,"Copy Groups") %>
<h2 class="main-heading text-center">Copy user groups</h2>
<div class="row justify-content-center">
  <div class="col-md-6 jumbotron">
    <%= form_for(@ldap_user, url: copy_groups_path) do |f| %>
      <%= render partial: 'error_messages', object: @ldap_user %>
      <%= f.label "Confirm your ldap password" %>
      <%= f.password_field :ldap_password, autocomplete: "off", class: "form-group form-control" %>
      <%= f.label "Source user" %>
      <%= f.text_field :source, autofocus: true, class: "form-group form-control", placeholder: "<first>.<last>" %>
      <%= f.label "Target user" %>
      <%= f.text_field :target, class: "form-group form-control", placeholder: "<first>.<last>" %>
      <%= f.submit "Copy", class: "btn btn-block btn-primary" %>
    <% end %>
  </div>
</div>
