<% provide(:title,"Remove Group") %>
<h2 class="main-heading text-center">Remove a user from multiple groups</h2>
<div class="justify-content-center row">
  <div class="col-md-6 jumbotron">
    <%= form_for(@ldap_user, url: remove_groups_path) do |f| %>
      <%= render partial: 'error_messages', object: @ldap_user %>
      <%= f.label "Confirm your ldap password" %>
      <%= f.password_field :ldap_password, autocomplete: "off", class: "form-control form-group" %>
      <%= f.label "First Name" %>
      <%= f.text_field :fname, autofocus: true, class: "form-control form-group" %>
      <%= f.label "Last Name" %>
      <%= f.text_field :lname, class: "form-control form-group" %>
      <%= f.label "Groups" %>
      <%= f.text_area :groups, maxlength: 8192, rows: 10, class: "form-control form-group", placeholder: "<name>,<city>,<country>" %>
      <%= f.submit "Remove", class: "btn btn-block btn-primary" %>
    <% end %>
  </div>
</div>
